/*
    Theme ou modif spécifiques du module
*/

#navigation-page {
    background-color: #f6efed
}

#navigation-page .panel-default > .panel-heading {
    background-color: #ff1330;
    color: white;
}


